.form-control:disabled{
    background-color: transparent;
    opacity: 1;
    border: none;
}

.form-group{
    position: relative;
}

.checkedInColor{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    border: 1px solid red;
    position: absolute;
    top: 10px;
    left: -10px;
}