        <!-- <table class="table table-bordered" *ngIf="stdArr.length > 0; else noStd">
            <thead>
                <tr>
                    <th>sr No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of stdArr; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        {{std.name}}
                    </td>
                    <td>
                        {{std.email}}
                    </td>
                    <td>
                        {{std.position}}
                    </td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-2x text-info" ></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-trash fa-2x text-danger" (click)="onRemoveStd(std.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
  <ng-template #noStd>
    <p class="alert alert-info">No Students added yet!!!</p>
  </ng-template> -->


  <h2 class="text-center">Student table</h2>
  <div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Edit</th>
                    <th>Remove
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of stdArr; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        {{std.fName}}
                    </td>
                    <td>
                        {{std.lName}}
                    </td>
                    <td>
                        {{std.email}}
                    </td>
                    <td>
                        {{std.contact}}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-info">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger" (click)="onRemoveStd(std)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>